.theming {
    font-family:'Segoe UI'; font-weight:Lighter;
}

.reg-style{
    font-family:'Segoe UI'; font-weight:Lighter;
    font-size:20px;
}


/*Source Sans Pro Font*/
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.otf');
    /*src: local('SourceSansPro'),
    url('../fonts/SourceSansPro/SourceSansPro-Semibold.otf') format('otf'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.otf') format('otf'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.otf') format('otf'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.otf') format('otf');*/
}
.theme-font {
    font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.theme-color {
    color:#fff;
    background:#52A318;
    border:1px solid #52A318;
    font-family: 'SourceSansPro' !important;
}

.theme-font-color{
    color:#070E21;
}

.alternate-font{
    font-family:"Source Sans Pro";
}
/*Broadway Font*/
@font-face {
    font-family: 'BROADW';
    src: url('../fonts/broadway/BROADW.eot');
    src: local('BROADW'), url('../fonts/broadway/BROADW.woff') format('woff'), url('../fonts/broadway/BROADW.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_27182">Text with this font applied</p> */
.broadway {
    font-family: 'BROADW' !important;
}

/* Font downloaded from FontsForWeb.com */

.white-bg{
    background:#fff;
}

.no-background{
    background:none;
    color:#fff;
    border:1px solid #fff;
}
.segoe-light {
    /**These methods work for both chrome and firefox so long as the font-weight is lighter*/
    /*font-family: SegoeUI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;*/
    font-family:'Segoe UI'; font-weight:Lighter;
}

.enlarge_first_letter::first-letter {
    font-size: 300%;
    color: #000;
}

.hover_underline:hover{
    text-decoration: underline;
    cursor:pointer;
}
.fit{
    width:100%;
}
.no-border-right{
    border-right:none;
}
.no-border-left {
    border-left:none;
}
.no-border-top{
    border-top:none;
}
.no-border-bottom{
    border-bottom:none;
}
.shadow {
    border-radius:0px;
    -webkit-box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black;
}
.light-shadow{
    -webkit-box-shadow: 0 0 10px lightgray;
    -moz-box-shadow: 0 0 10px lightgray;
    box-shadow: 0 0 10px lightgray;
}

.bottom-shadow{
    /* box-shadow:0 4px 2px -2px gray;*/
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.top-shadow{
    box-shadow: 0 -5px 5px -5px #333;
}

.right-shadow{
    box-shadow: 5px 0 5px -5px #333;
}

.left-shadow{
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-top-right{
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
    10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-top-bottom{
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
    0 10px 20px -5px rgba(115,115,115,0.75);
}
.shadow-top-left{
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
    -10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-bottom-right{
    box-shadow: 0 10px 20px -5px rgba(115,115,115,0.75),
    10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-left-right{
    box-shadow: -10px 0 20px -5px rgba(115,115,115,0.75),
    10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-bottom-left{
    box-shadow: 0 10px 20px -5px rgba(115,115,115,0.75),
    -10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-top-bottom-right{
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
    0 10px 20px -5px rgba(115,115,115,0.75),
    10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-top-bottom-left{
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
    0 10px 20px -5px rgba(115,115,115,0.75),
    -10px 0 20px -5px rgba(115,115,115,0.75);
}
.shadow-inset {
    box-shadow: inset 0 0 20px rgba(115,115,115,0.75);
}


.no-shadow{
    box-shadow:none;
}

.dotted-bottom-border{
    border-bottom-style:dotted;
}

.dotted-top-border{
    border-top-style:dotted;
}

.dotted-right-border{
    border-right-style:dotted;
}
.dotted-left-border{
    border-left-style:dotted;
}

.bold {
    font-weight:bold;
}
h3 {
    font-family:"Open Sans";
}
.underline {
    text-decoration:underline;
    cursor: pointer;
}
.sharp-corners {
    border-radius:0px;
}
.rounded-corners {
    border-radius:5px;
}
.border{border:1px solid lightgray;}.border-left{border-left:1px solid lightgray;}.border-right {border-right: 1px solid lightgray;}.border-bottom{border-bottom:1px solid lightgray;}.border-top{border-top:1px solid lightgray;}
.no-borders {border:0px solid #fff;}
.shorter
{
    height:22px;
}
.long {
    width:100%;
}
.space-up
{
    margin-top:10px;
}
.dark{background:#373E46; color:#fff; border:1px solid #373E46;}

.white-chars {color:#fff; }


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.bold-blue {
    font-weight:bold;
    color:#30A5FF;
}


.margin{
    margin:10%;
}

.no-decoration{
    color:#000;
    text-decoration:none;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}




/**Social Media Buttons
Font-Awesome should be active
This is how you call them
#######
<a class="facebookBtn smGlobalBtn" href="social-media-profile-url" ></a>
<a class="twitterBtn smGlobalBtn" href="social-media-profile-url" ></a>
######
/* global button class */
#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
    font-family: "FontAwesome";
    content: "\f099"; /* add twitter icon */

}

.twitterBtn:hover{
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
    font-family: "FontAwesome";
    content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
    font-family: "FontAwesome";
    content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
    font-family: "FontAwesome";
    content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
    font-family: "FontAwesome";
    content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
    color: #3a5876;
    background: #fff;
    border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
    font-family: "FontAwesome";
    content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
    color: #e88845;
    background: #fff;
    border-color: #e88845;
}


/* Navbar Gradient*/
.rk-grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #000); /* Standard syntax */
}

.success-msg{
    border-left:3px solid green;
}
.error-msg {
    border-left:3px solid red;
}