.nav-bar {
  display: flex;
  background-color: rgb(97, 143, 249);
  color: #110e0e;
  padding: 2.0rem;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: left;
}

.logo {
  width: 200px;
  height: 50px;
}

.logo img {
  width: 3.5rem;
  height: auto;
  margin-left: 0.1rem;
}

.logo-text {
  text-align: left;
  margin-left: 0.5rem;
  font-size: larger;
}

.logo-text h4 {
  color: rgb(253, 12, 12);
  font-weight: bolder;
  font-size: 1.0rem;
}

.logo-text p {
  font-style: italic;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0;
  margin-left: auto;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links li:not(:last-child) {
  margin-right: 1rem;
}

.nav-links li a {
  color: #fdfcff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: #bada55;
}

.nav-bar .close {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}

.donate-button {
  margin-left: 1.4rem;
}

.btn {
  color: rgb(255, 176, 19);
  font-size: large;
  background-color: rgb(185, 185, 242);
  border: whitesmoke;
  border-radius: 25px;
  padding: 0.5rem 2.3rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-bar ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #001f3f; /* Navy blue background */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 4rem;
  }

  .nav-bar ul.show-menu {
    transform: translateX(0);
  }

  .nav-links {
    flex-direction: column;
    margin-left: 0;
  }

  .nav-links li {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin: 1rem 0; /* Add margin between items */
  }

  .nav-bar .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0; /* Position hamburger on the right end */
    
    margin: 1rem; /* Add some margin */
  }

  .nav-bar .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fffafa;
    margin: 5px auto;
  }

  .nav-bar .close {
    display: block;
    color: #fff; /* White color for the 'X' button */
  }

  .nav-bar ul.show-menu .close {
    display: block;
  }

  .separator {
    display: none; /* Hide separators on small screens */
  }

  .logo-text {
    display: none; /* Hide logo-text on small screens */
  }
}